.gitignore
.vscode/**
.vscode-test/**
dist/*.vsix
dist/**/*.map
src/**
out/**
node_modules/**
out/test/**
tsconfig.json
eslint.config.mjs
esbuild.mjs
implement.md
plans.md
documentation.md
code-review.md
.github/**
.mocharc.unit.json
test-fixtures/**
**/*.map
**/*.ts
plans/**
